<%- include("header")-%>
<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eos in, harum mollitia corporis nihil et quas quia modi alias illum ratione veritatis officia maxime laborum. Culpa aliquid illo suscipit!</p>
<%-include("footer")-%>